/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

.sessionThumbnail {
    height:100%;
    overflow: hidden;
}


.calendar{
    border: 1px solid #555;
    width: 238px;
}
.calendar .row {
    margin-left: 0px;
}
.calendar .row div{
    float:left;
    padding:2px;
    width:30px;
    text-align:center;
}
.calendar-nav-left {
    float:left;
    width: 20px;
    padding:2px;
}
.calendar-nav-right {
    float:left;
    width: 20px;
    padding:2px;
    text-align:right;
}

.calendar .row .calendar-hdr {
    padding:2px;
    float:left;
    width: 166px;
    text-align:center;
}
.pointer {
    cursor: pointer;
}
.date-picker {
    position: absolute;
    top: -7px;
    left: 209px;
    background-color: #272b30;
}

.table tr:hover{
    background-color: #333333;
}

#itemHeader {
    clear:both;
    text-align: center;
}

#itemDetails, #itemTime, #itemCategories {
    padding: 25px 25px 5px 25px;
    float: left;
    clear:right;
}

#itemDetails label {
    font-size: large;
}

#availableCategories {
    padding-left: 25px;
    float: left;
    clear:both;
}

#itemUpdateOrCreateButton{
    float: right;
    clear:both;
}

#itemCategory, #itemAvailableCategory {
    padding: 5px;
    float: left;
}