<div id="itemCategories">
    <h3>Categories:</h3>
    <div id="itemCategory" ng-repeat="category in categories">
        <button title="Click to remove" type="button" class="btn btn-sm-default" ng-click="remove({category:category})"
                name="{{category}}">{{category.name}}
        </button>
    </div>
</div>


<div id="availableCategories">
    <h3>Available categories to add:</h3>
    <div id="itemAvailableCategory" ng-repeat="category in available">
        <button title="Click to add" type="button" class="btn btn-sm-default" ng-click="add({category:category})"
                name="{{category.name}}">{{category.name}}
        </button>
    </div>
</div>