<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>YEAR</th>
            <th>MONTH</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="it in items" item-row
                item="it"
                show-item-details="showItemDetails(it)"
                delete-item="deleteItem(it)">
            </tr>
        </tbody>
    </table>
</div>