<td>{{item.id}}</td>
<td>{{item.name}}</td>
<td>{{item.year}}</td>
<td>{{item.month}}</td>
<td>
    <button type="button" ng-click="showItemDetails({item:item})" class="btn btn-sm btn-default">Details & Edit</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteItem({item:item})">Remove</button>
</td>