<div id="itemHeader">
    <h1>{{item.name}}</h1>
</div>


<div id="itemDetails">
    <form>
        <fieldset>
            <label for="itemName">Item name</label>
            <input id="itemName"
                   type="text"
                   ng-model="item.name"
                   placeholder="Enter name here"
                   value="{{::item.name}}"/>

            <label for="itemLastUsedYear">Last used year</label>
            <input id="itemLastUsedYear"
                   type="text"
                   ng-model="item.lastUsedYear"
                   placeholder="Type last used year"
                   value="{{item.lastUsedYear}}"/>

            <label for="itemLastUsedMonth">Last used month</label>
            <input id="itemLastUsedMonth"
                   type="text"
                   ng-model="item.lastUsedMonth"
                   placeholder="Type last used month"
                   value="{{item.lastUsedMonth}}"/>
        </fieldset>
    </form>
</div>

<item-time created="item.createdOn" updated="item.updatedOn"></item-time>

<item-categories
        categories="item.categories"
        available="availableCategories"
        remove="removeCategory(category)"
        add="addCategory(category)"></item-categories>

<div id="itemUpdateOrCreateButton">
    <button type="button" class="btn btn-success" ng-click="createOrUpdateItemClicked(item)">
        {{shouldCreate ? 'Create' : 'Update'}}
    </button>
</div>