<div>
    <h3>List of all categories ({{vm.categories.length}})</h3>
    <table class="table">
        <tr ng-repeat="category in vm.categories" ng-click="vm.onCategoryClicked(category)">
            <td>{{category}}</td>
        </tr>
    </table>
</div>